<div class="text-center" style="margin: 15px 0;">
  <button class="btn btn-lg" [ngClass]="{ 'btn-default': !(isRecording | async), 'btn-danger': (isRecording | async) }" (click)="toggle()">
    <i class="fa fa-microphone"></i>
  </button>
</div>