<ul class="breadcrumb">
  <li><a routerLink="/parish">{{'Parish' | translate}}</a></li>
  <li><a routerLink="/users">{{'Users' | translate}}</a></li>
</ul>

<div class="clearfix">
  <h3>{{'Users' | translate}}</h3>

  <table class="table" *ngIf="users">
    <tr *ngFor="let user of users">
      <td style="width: 60px;"><p-inputSwitch [(ngModel)]="user.isInAcl" (onChange)="registerInAcl(user)"></p-inputSwitch></td>
      <td>{{user.name}}</td>
    </tr>
  </table>

  <div *ngIf="!users">
    {{'Loading' | translate}}...
  </div>
</div>