@media screen {
  .report-sheet {
    margin-top: 15px;
  }
  .parishioner-card {
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
  }
}

@media print {
  .report-sheet {
    padding: 0 10mm;
  }
  .parishioner-card {
    height: 146mm;
    padding: 10mm 0;
    overflow: hidden;
  }
  .cut-line {
    border-bottom: 1pt dashed lightgray;
  }
  .page-break {
    page-break-after: always;
  }
}
